<header class="main-header">
  <nav class="main-header_nav">
    <ul class="main-header_item-list">
      <li class="main-header-item">
        <a class="active" href="/product-list">products</a>
      </li>
      <li class="main-header-item">
        <a class="active" href="/cart">Cart</a>
      </li>
      <li class="main-header-item">
        <a class="active" href="/checkout">Checkout</a>
      </li>
      <li class="main-header-item"><a href="/">Shop</a></li>
      <% if(isAuthenticated) {%>
      <li class="main-header-item">
        <a class="active" href="/admin/products">Admin Products</a>
      </li>
      <li class="main-header-item">
        <a class="active" href="/admin/add-product">Add product</a>
      </li>
      <% } %>

    <ul class="main-header__item-list">
            <% if (!isAuthenticated) { %>
                <li class="main-header__item">
                    <a  href="/login">Login</a>
                </li>
                <li class="main-header__item">
                    <a  href="/signup">Signup</a>
                </li>
            <% } else { %>
                <li class="main-header__item">
                    <form action="/logout" method="post">
                      <input type="hidden" name="_csrf " value="<%= csrfToken %>">
                        <button type="submit">Logout</button>
                    </form>
                </li>
            <% } %>
        </ul>
  </nav>
</header>
