<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>add product</title>
    <link rel="stylesheet" href="/css/product.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header_nav">
        <ul class="main-header_item-list">
          <li class="main-header-item">
            <a href="/admin/add-product">Add product</a>
          </li>
          <li class="main-header-item"><a class="active" href="/">Shop</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>Products</h1>
      <p>List of the products</p>
    </main>
  </body>
</html>
